.main-container {
    .content {
        .section {
            .brands {
                box-sizing: border-box;
                margin-top: 16px;
                // padding-top: 16px;
                height: 72px;
          
                &__item {
                  background-color: $white;
                  border: 1px solid #EAEAEA;
                  border-radius: 6px;
                  padding: 0 16px;
                  display: flex;
                  height: 72px;
                  min-width: 240px;
                  max-width: 60%;
                
                  align-items: center;
                  justify-content: space-between;
                }
              }
        }
    }
}

@media (min-width: 768px) { 
.main-container {
    .content {
        .section {
            .brands {
                display: grid;
                grid-template-columns: repeat(auto-fill, 224px);
                gap: 16px 24px;
                // margin: 24px;
                margin-top: 0;
                padding: 24px;
                justify-content: center;
                height: auto;

        
                &__item {
                    // width: auto;
                  min-width: 224px;
                  max-width: unset;
                }
                
              }
        }
    }
}
}

@media (min-width: 1440px) {
    .main-container {
        .content {
            .section {
                .brands {
                    grid-template-columns: repeat(4, 240px);
                    gap: 16px 32px;
                    padding: 32px;
                    // margin: 32px;
                  }
            }
        }
    }
}