.main-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2,auto);

    .content {
        display: flex;
        flex-direction: column;
        max-width: 1440px;
        margin: 0 auto; //центрируем содержимое при большом разрешении
        width: 100%;
    
        background-color:#F8F8F8;
        padding-top: 24px;
    
        .title {
          position: relative;
          @include font-title();
          display: block;
         padding-left: 16px;
        //  border-left: 4px solid $decor-color;
        //  border-radius: 3px;
        & .border {
          display: block;
          height: 40px;
        }
        }
        .section {
            box-sizing: border-box;
            width: 100%;
            overflow: hidden;
            margin-top: 24px;
            min-width: 0;
      
            .swiper-pagination {
              position: static;
            }
        
            .chapter-box {
              background: linear-gradient(to right, rgba(248, 248, 248, 1), rgba(255, 255, 255, 1));
              border-top: 1px solid #D9FFF5;;
              min-height: 56px;
        
              .chapter {
                padding: 16px;
                color:#7E7E82;
                
                @include font-chapter();
              }
            }
        
            .button-show {
              display: none;
            }
        }
    }
}

@media (min-width: 768px) { 
    .main-container {
        .content {
            .title {
              padding-left: 24px;
            }

            .section {
                overflow: unset;
                margin-top: 32px;
                
                .chapter-box {
          
                  .chapter {
                    padding: 16px 24px;
                  }
                }
          
                .button-show {
                  display: flex;
                  margin-left: 32px;
                }
            }
        }
    }
    
}

@media (min-width: 1440px) {
    .main-container {
        grid-template-columns: 306px calc(100% - 306px);
        
        .title {
          padding-left: 32px;
        }
        .content {
            grid-row: span 1;
            padding-top: 42px;
        }
    }
}