//Шаблоны
._rotate {
    rotate: 180deg;
  }
  
  ._hide {
    max-height: 200px;
    overflow-y: hidden;
  }
  
  .icons {
    display: flex;
  }
  
  .btn-show {
    // margin-top: 24px;
    border: none;
    background-color: inherit;
    display: flex;
    align-items: center;
    @include font-main();
  }
  
  .btn-arrow {
    width: 40px;
    height: 40px; 
  }
  .btn_reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .shadow {
    width: 80px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    position: absolute;
    bottom: 33px;
    right: -3px;
    z-index: 25;
  }
  .shadow_height-81 {
    height: 81px;
  }
  .shadow_height-166 {
    height: 166px;
  }
  .shadow_height-200 {
    height: 200px;
  }

  #style-scroll::-webkit-scrollbar
{
	width: 6px;
	background-color: $pink;
  border-radius: 100vh;
}
  .border {
    display: none;
    width: 4px;
    height: 32px;
    position: absolute;
    left: 0px;
    background: #41F6D7;
    border-radius: 13px;
  }
  ._text-space {
    margin-top: 24px;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: unset;
  }
  .swiper-pagination {
    position: static;
  }
  .swiper-pagination-bullets {
    margin-top: 16px;
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
  
      background: var(--swiper-pagination-bullet-inactive-color, $bullet-background);
      opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
      &.swiper-pagination-bullet-active {
        background-color: #B5B5BC;
      }
    }
  }
  @media (min-width: 768px) { 
    .swiper-pagination {
      display: none;
    }
  }