
$white: #ffffff;
$pink: #FF3E79;

$background: #F8F8F8;
$main-text-color: #1B1C21;
$sub-text-color: #7E7E82;
$border-color: #B8FFEC;
$decor-color: #41F6D7;

$bullet-background: #DDDDDD;
$bullet-active: #B5B6BC;

$font-main: 'TT Lakes';

$size-title: 28px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-24: 24px;

$line-height-16: 16px;
$line-height-18: 18px; 
$line-height-20: 20px;
$line-height-24: 24px;
$line-height-32: 32px;
$line-height-40: 40px;

$negative-spacing-06: -0.6px;
$negative-spacing-02: -0.2px;
$spacing-02: 0.2px;