@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";

//Шаблоны
._rotate {
  rotate: 180deg;
}

._hide {
  max-height: 60px;
  overflow-y: hidden;
}

._normal { /*чтобы не расползались svg*/
  width: 40px;
  height:40px;
}

.icons {
  display: flex;
}

.button-show {
  margin-top: 24px;
  border: none;
  background-color: inherit;
  display: flex;
  align-items: center;
  @include font-main();
}

.btn-arrow {
  width: 40px;
  height: 40px; 
}
.btn_reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

._text-space {
  margin-top: 24px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: unset;
}
.swiper-pagination {
  position: static;
}
.swiper-pagination-bullets {
  margin-top: 16px;
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;

    background: var(--swiper-pagination-bullet-inactive-color, $bullet-background);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
    &.swiper-pagination-bullet-active {
      background-color: #B5B5BC;
    }
  }
}
//СТИЛИ MOBILE FIRST
//Шапка
.header {
  background-color: white;
  height: 87px;
  border-bottom: 1px solid #D9FFF5;

  .checkbox-label {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 24px;
    left: 24px;
}

  .divider {
    position: absolute;
    width: 2px;
    height: 32px;
  
    background: #EAEAEA;
    border-radius: 1px;
  
    &_left {
      display: none;
    }
  
    &_right {
      right: 140px;
      top: 28px;
    }
  }

  &__logo {
    display: block;
    position: absolute;
    top: 19px;
    left: 107px;
  }
  .icons {
    display: none;
  }

  .tools {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 16px;
    top: 24px;
    right: 24px;
  
    &__text {
      display: none;
      @include font-main();
    }
  }

}

.checkbox {
  display: none;
  position: absolute;
  top:40px;
  left: 40px;
}

.checkbox:checked ~ .divider.divider_left {
  display: none;
}
//Всплытие меню

.checkbox:checked ~ .main-container {
  .back-layer {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100vh;
    width: 100%;
    z-index: 15;

    .side-bar {
      box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);

      &__top {

        .checkbox-label {
          display: block;
          position: absolute;
          top: 24px;
          left: 24px;
        }

      }
      &__logo {
        display: block;
        top: 19px;
        left: 81px;
      }

      &__search {
        display: block;
        top: 24px;
        left: 256px;
      }
    }
  }
}
//Всплытие меню. Конец

// MAIN CONTAINER STYLE
.main-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2,auto);

  .back-layer {
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.96);
    max-height: 0; /*для стилизации появления по клику на checkbox, прячем*/
    overflow: hidden; /*потомки не вылезают за рамки родителя */
    
    .side-bar {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: white;
      width: 320px;
      // min-width: 320px;
      transition: .5s all;
      @include font-main();
    
      &__top {
        display: relative;
        height: 88px;
        flex-shrink: 0;

        .checkbox-label._hidden { /*изначально кнопка close скрыта*/
          display: none;
        }
      }
    
      &__logo {
        display: none;
        position: absolute;
      }
    
      &__search {
        display: none;
        position: absolute;
      }
      
      &__mail {
        display: block;
        margin: 16px 0 0 24px;
        color: #1B1C21;
        text-decoration: none;
      }
    
      &__phone {
        display: block;
        margin: 12px 0 0 24px;
        color: #1B1C21;
        @include font-phone();
      }

      .icons {
        gap: 16px;
      }
    }
  }
}
  .content {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto; //центрируем содержимое при большом разрешении
    width: 100%;

    background-color:#F8F8F8;
    padding-top: 24px;

    .title {
      @include font-title();
      display: block;
     margin-left: 16px;
    }

    /*МЭЙН-СПИСОК*/
    .sub-nav {
      margin: 24px 0 0 16px;
      display: flex;
      justify-content: space-between;
      // align-items: center;
      overflow-x: scroll;
      flex-basis: content;

      &__item {
        flex-shrink: 0;
        padding: 8px 10px;
        height: 40px;
        text-align: center;
        color: #7E7E82;


        &:active {
          background-color:white;
          border: 2px solid #B8FFEC;
          border-radius: 6px;
          margin: -2px;
        }

        &.link-pointer:hover {
          cursor: pointer;
          color: #FF3E79;
          transform: scale(1.01);
        }
      }
    }

    .about {
      display: flex;
      flex-direction: column;
  
      margin-top: 24px;
      
      &__text {
        margin: 0 16px 0 16px;
  
        .text-wrapper {
          min-width: 0;
          @include font-paragraph();
        }
      }
      &__image {
        margin-top: 16px;
        width: 100%;
        object-fit: contain;
      }
    }

    .section {
      box-sizing: border-box;
      width: 100%;
      overflow: hidden;
      margin-top: 24px;
      min-width: 0;

      .swiper-pagination {
        position: static;
      }
  
      .chapter-box {
        background: linear-gradient(to right, rgba(248, 248, 248, 1), rgba(255, 255, 255, 1));
        border-top: 1px solid #D9FFF5;;
        min-height: 56px;
  
        .chapter {
          padding: 16px;
          color:#7E7E82;
          
          @include font-chapter();
        }
      }
  
      .button-show {
        display: none;
      }
  
      .brands {
        box-sizing: border-box;
        margin-top: 16px;
        height: 72px;
  
        &__item {
          background-color: white;
          border: 1px solid #EAEAEA;
          border-radius: 6px;
          padding: 0 16px;
          display: flex;
          height: 72px;
          min-width: 240px;
          max-width: 35%;
        
          align-items: center;
          justify-content: space-between;
        }
      }
  
      .repair {
        margin-top: 16px;
        height: 160px;
  
        &__item {
          box-sizing:border-box !important;
          background-color: white;
          border: 1px solid #EAEAEA;
          border-radius: 6px;
          padding: 16px;
          height: 160px;
          width: 240px;
  
          .repair__text {
            @include font-main();
  
          }

          .btn-arrow {
            position: absolute;
            bottom: 16px;
            right: 16px;
          }
        }
      }
      .price-table {
        overflow: hidden;
        margin: 31px 24px 0 24px;
        width: 100%;
        border: 0;
        border-collapse: collapse;
        &__thead {
          
          padding: 0 0 16px 24px;
          .price-table__cell {
            padding: 0 0 16px 24px;
            text-align: left;
            @include font-table-thead();
            opacity: 0.72;
          }
        }
      
        &__tbody {
          background-color:white;
          margin: 0 22px;
          border-radius: 6px;
          padding: 0 24px;
          border-spacing: 0;
          border-collapse: separate;
      
          .price-table__row {
            height: 64px;
      
            &:first-child .price-table__cell:first-child {
              border-top-left-radius: 6px;
            }
            &:first-child .price-table__cell:last-child {
              border-top-right-radius: 6px;
            }
            &:last-child .price-table__cell:first-child {
              border-bottom-left-radius: 6px;
            }
            &:last-child .price-table__cell:last-child {
              border-bottom-right-radius: 6px;
            }
            //задаем бордюр всем строкам, кроме последней
            &:nth-child(-n+4) {
              border-bottom: 1px solid #EAEAEA; 
            
            }
            .price-table__cell {
              padding: 0 24px;
              @include font-table-cells();
              color:#1B1C21;
            }
          }
        }
      }
    }
  .price__text {
    @include font-paragraph();
    margin: 16px auto 32px 16px;
    max-width: 421px;
  }
  .btn-get {
    margin: 0 16px;
  
    &__text {
      @include font-main();
    }
  }
      
  .footer {
    display: grid;
    grid-template-columns: 100%;
    gap: 16px;
    margin-top: 40px;
    padding: 16px 0;
    border-top: 1px solid #D9FFF5;

    text-align: center;
    &__text {
      @include font-footer();
      color: var($sub-text-color);
    }
  }
  
}


.link {
  position: relative; //нужно для позиционирования голубого мелкого бордюра
  display: block;
  width: 100%;
  padding: 32px 0 0 20px;
  text-decoration: none;
  color:#1B1C21;

  &:hover {
    color:#7E7E82;

    & .border {
      display: block;
    }
  }

  .border {
    display: none;
    width: 4px;
    height: 32px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #41F6D7;
    border-radius: 15px;
  }
}

/* :focus {
  outline: #FF3E79 outset medium;
} */

.lang-link {
  display: inline-block;
  margin-right: 7px;
  color: #1B1C21;
  text-decoration: none;
}


@media (min-width: 768px) { 
  .header {

    .icons {
      display: flex;
      position: absolute;
      top: 24px;
      gap: 16px;
      right: 162px;
    }
  }

  .side-bar {
    .icons {
      position: static;
      gap: 16px;
      margin: auto 0px 0px 24px;
    }

    &__languages {
      margin: 40px 0 32px 24px;
    }
  }
  .main-container {
    .content {
      .title {
        margin-left: 24px;
      }
      .sub-nav {
        margin: 32px 0 0 24px;
      }
      .about {
        flex-direction: row;
        align-items: start;
        margin-top: 32px;
  
        &__text {
          margin: 0 48px 0 24px;
        }
  
        &__image {
          margin-top: 0;
          margin-right: 24px;
  
          min-width: 360px;
          max-width: 360px;
          border-radius: 5px;
        }
      }
      .section {
        overflow: unset;
        margin-top: 32px;
        
        .chapter-box {
  
          .chapter {
            padding: 16px 24px;
          }
        }
  
        .button-show {
          display: block;
          margin-left: 32px;
        }
        .brands {
          display: grid;
          grid-template-columns: repeat(3, minmax(224px, 240px));
          gap: 16px 24px;
          margin: 24px;
          justify-content: center;
          height: auto;
  
          &__item {
            min-width: unset;
            max-width: unset;
          }
          
        }
  
        .repair {
          margin: 24px;
          display: grid;
          grid-template-columns: repeat(3, minmax(224px, 240px));
          gap: 16px 24px;
          justify-content: center;
          height: auto;
        }
      }
    }
    .footer {
      grid-row: span 1;
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: auto;
      column-gap: 35px;

      margin-top: 32px;
      padding: 32px 24px 25px 24px;

      &__text:last-child {
        text-align: right;
      }
      &__text:first-child {
        text-align: left;
      }
      
    }
  }
}

@media (min-width: 1440px) {
  .header {
      visibility: hidden;
      height: 0px;

      .tools {
        gap: 0px;
        top: 42px;
        right: 30px;

        visibility: visible;

        &__text {
          display: block;
          margin-right: 8px;
        }
        &__repair {
          margin-right: 32px;
        }
      }
  }

  .main-container {
    grid-template-columns: 306px calc(100% - 306px);

      .back-layer {
        visibility: visible;
        grid-row: span 2;
        // float: left;
        max-height: 100%;
        width: 306px;
        font-size: 16px;
        line-height: 24px;

        .side-bar {
          height: 100%;
          width: 306px;

          .icons {
            margin: 241px 0px 0px 19px;
          }

          &__search {
            display: block;
            top: 35px;
            left: 237px;
          }

          &__logo {
            display: block;
            top: 30px;
            left: 22px;
          }

          &__languages {
            margin: 40px 0 32px 21px;
          }

        }
      }

      .content {
        grid-row: span 1;
        padding-top: 42px;
    
        .sub-nav {
          margin: 8.37px 0 0 34px;
          justify-content: left;
          flex-wrap: wrap;
          overflow: unset;

          &__item {
            white-space: nowrap;
          }

        }
        .about {
    
          &__image {
    
            min-width: 531px;
            max-width: 531px;
          }
        }

        .section {
          
          .brands {
            grid-template-columns: repeat(4, 240px);
            gap: 16px 32px;
            margin: 32px;
          }

          .repair {
            margin: 32px;
            grid-template-columns: repeat(4, 240px);
            gap: 16px 32px;
          }
        }
      }
  }
}